/* main {
  display: flex;
  flex-direction: column;
} */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
  color: #141413;
  gap: 0.7rem;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header > img {
  width: 43px;
  height: 53px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  height: 38px;
  margin-top: 100px;
}
form > input {
  height: 38px;
  border-radius: 6px;
  padding: 9px 13px 9px 13px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 800px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
form > button {
  height: 38px;
  width: 150px;
  color: #fafaf8;
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  padding: 9px 17px 9px 17px;
  background-color: #141413;
  font-weight: 500;
}

.ingr-section {
  height: fit-content;
  margin-bottom: 30px;
  min-width: 150px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.ingr-section > h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
  color: #141413;
  margin-bottom: 20px;
  margin-top: 40px;
}
.ingr-section > ul {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #475467;
}
.recipe-section {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 30px;
  min-width: 150px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0efeb;
  height: 109px;
  border-radius: 15px;
  padding: 5px;
}
.recipe-div {
  display: flex;
  flex-direction: column;
}
.recipe-section > button {
  background-color: #d17557;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fafaf8;
  width: 115px;
  height: 38px;
}
.recipe-div > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #141413;
}
.recipe-div > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
